:root {
  --beaver-orange: #d73f09;
  --black: #000000;
  --white: #ffffff;
  --reindeer-moss: #c4d6a4;
  --seafoam: #b8dde1;
  --candela: #fdd26e;
  --moondust: #c6dae7;
  --dark-crater: #1e2019;
}

body {
  background-color: var(--white);
  color: var(--seafoam);
  font-family: "Arvo";
  font-size: 1.5rem;
  padding: 0;
}

h1 {
  color: var(--beaver-orange);
  font-family: "Open Sans";
}

h2 {
  font-family: "Open Sans";
}

.section {
  padding: 50px;
  width: 100%
}

#header {
  text-align: center;
  background-color: var(--black);
  color: var(--seafoam);
  padding-bottom: 120px;
}

.main-title {
  font-size: 6.5rem;
  font-weight: bold;
  padding: 50px 0 0 0;
}

.section-title {
  color: var(--moondust);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
}

.upcoming-events {
  background-color: var(--dark-crater);
}

.event-row {

  margin-top: 100px;
}

.img-container {
  position: relative;
  min-height: 200px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.event-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.event-card {
  width: 100%;
  border-style: none;
  margin: 5px auto;
  background-color: var(--dark-crater);
  color: var(--beaver-orange);
  font-size: 1.5rem;
}

.card-body {
  padding-top: 5px;
}

.event-name {
  font-size: 2rem;
  text-align: center;
}

.event-text {
  color: var(--moondust);
  font-size: 1.3rem;
}

.info-header {
  color: var(--candela);
}

.membership {
  background-color: var(--black);
  text-align: center;
}

.section-content {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
}

@media only screen and (max-width: 1200px) {

  .section-content {
    width: 95%;
  }

  .section {
    padding: 50px 20px;
  }

  .event-text {
    font-size: 2rem;
  }

  .event-name {
    font-size: 2.5rem;
  }

}

@media only screen and (min-width: 1500px) {
  .section-content {
    width: 80%;
  }
}

.buttons-container {
  text-align: center;
  width: 100%;
}

.section-button {
  margin: 20px 30px;
  text-align: center;
  color: var(--black);
  background-color: var(--beaver-orange);
  border-color: var(--beaver-orange);
  font-size: 1.3rem;
}

.section-button:hover {
  background-color: var(--white);
  border-color: var(--beaver-orange);
  color: var(--black);
}

.contact {
  background-color: var(--dark-crater);
}

.footer {
  background-color: var(--moondust);
  height: auto;
  color: var(--black);
  text-align: center;
  vertical-align: middle;
  font-size: .8rem;
  padding: 0;
  margin: 0;
}

#footer-p {
  margin: 0;
}
